CLIENT_ID=
FBASE_API_KEY=
FBASE_AUTH_DOMAIN=
FBASE_PROJECT_ID=
FBASE_STORAGE_BUCKET=
FBASE_MESSAGING_SENDER_ID=
FBASE_APP_ID=

APP_HOST=http://localhost:3000
API_HOST=http://localhost:9090

MAINTENANCE_MODE=