GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FBASE_API_KEY=
FBASE_AUTH_DOMAIN=
FBASE_PROJECT_ID=
FBASE_STORAGE_BUCKET=
FBASE_MESSAGING_SENDER_ID=
FBASE_APP_ID=

APP_HOST=http://localhost:3000
API_HOST=http://localhost:9090

DATABASE_HOST=
DATABASE_PORT=
DATABASE_SSLMODE=
DATABASE_TIMEZONE=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

#GOOGLE_APPLICATION_CREDENTIALS=

JWT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

KAFKA_BROKER=

STRIPE_WEBHOOK_SECRET=

API_SECRET=
API_WH_SECRET=

MAINTENANCE_MODE=